{% extends 'base.html' %}
{% block content %}
    <div class="row content-section">
        <div class="col-sm-12">
                <div class="card mt-1">
                       
                    
                    <img class="card-img-top mt-1" src="{{object.image.url}}" style="height: 50vh; object-fit:cover;">
                    <div class="card-body">                       
                        <p class="card-text">{{object.desc}}</p>
                        <p>{{object.user}}</p>
                        
                    </div>
                </div>
        </div>
        

    </div>
{% endblock %}